
server:
  port: 8085

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://localhost:5436/hrms_notifications
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange:
    leave: leave.exchange
  routing:
    leave:
      approved: leave.approved
      rejected: leave.rejected
      created: leave.created
  queue:
    leave:
      notification: leave.notification.queue

slack:
  webhook-url: https://hooks.slack.com/services/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


feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000


springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

