server:
  port: 8084

spring:
  application:
    name: attendance-service

  datasource:
    url: jdbc:postgresql://localhost:5435/attendance_db
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange:
    leave: leave.exchange
  routing:
    leave:
      approved: leave.approved
      rejected: leave.rejected
      created: leave.created
  queue:
    leave:
      notification: leave.notification.queue

api:
  gateway:
    url: http://localhost:8080

logging:
  level:
    org.springframework.amqp.rabbit.listener: DEBUG
    com.bbu.hrms.attendance_service.listener: DEBUG

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

