server:
  port: 8083

spring:
  application:
    name: leave-request
  datasource:
    url: jdbc:postgresql://localhost:5434/hrms_leavedb
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.hibernate.SQL: DEBUG
    com.bbu.hrms.leave_request.service: DEBUG
    com.bbu.hrms.leave_request.client: DEBUG
    org.springframework.cloud.openfeign: DEBUG

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange:
    leave: leave.exchange
  routing:
    leave:
      approved: leave.approved
  queue:
    leave:
      approved: leave.approved.queue